@font-face {
    font-family: "bongkar";
    src: url(../Fonts/Bongkar.ttf) format(truetype);
}

:root {
    --color-black: #212529;
    --color-white: #F8F9FA;
    --color-grey-7: #6C757D;
    --color-grey-6: #ADB5BD;
}